.artist-page-card {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.artist-page-card:hover {
    background: #323232;
    cursor: pointer;
    opacity: 0.7;
}
.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.card-number {
    width: 20px;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: gray;
}
.card-container img {
    width: 45px;
    height: 45px;
    background: green;
}

.card-header {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}
.card-header img {
    border-radius: 5px;
}
.card-title {
    width: 100%;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: bold;
    color: white;
}
.card-content {
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.card-name-views {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.card-btns {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.fav-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: none;
    transform: translateX(0);
    opacity: 0;
    color: gray;
}
.fav-btn.visible {
    opacity: 1;
    transform: translateX(-40px);
}
.fav-btn:hover,
.song-options:hover {
    scale: 1.1;
    transition: scale 0.1s;
}

.song-options {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: none;
    opacity: 0;
    transform: translateX(0);
    color: gray;
}
.song-options.visible {
    opacity: 1;
    transform: translateX(40px);
}