.top-artist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.popular-artists {
    margin: 30px;
    border-bottom: solid 2px black;
}
.popular-artists h3 {

}

.artist-top {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 30px 32px 30px;
}

.avatar-list {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.prev-btn-container,
.next-btn-container {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-btn,
.next-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: black;
    color: white;
    border-radius: 50%;
    z-index: 5;
    transform: translateX(0);
    transition: 0.5s ease-in-out;
    opacity: 0;
}
.prev-btn.visible {
    opacity: 1;
    transform: translateX(25px);
}
.next-btn.visible {
    opacity: 1;
    transform: translateX(-25px);
}

@media (max-width: 480px) {
    .artist-top {
        padding: 0;
    }
    .prev-btn,
    .next-btn {
        display: none;
    }
    .artist-window {
        overflow-x: scroll;
    }
}