.hidden {
    display: none;
}

.main-artist {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-container {
    width: 100%;
    height: 30%;
    position: sticky;
    top: 0;
    background: gray;
    z-index: 1;
    transition: opacity 0.1s ease-out;
}
.bottom-container {
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: darkgray;
    z-index: 2;
}

.artist-page-name {
    margin: 25px 0 0 50px;
}
.artist-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0 0 50px;
    gap: 15px;
}
.play-btn {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    background: mediumseagreen;
    border: none;
    scale: 1;
    transition: scale 0.1s;
}
.play-btn:hover {
    background: springgreen;
    scale: 1.1;
    transition: scale 0.1s;
}
.follow-btn {
    width: 65px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    color: black;
    background: none;
    scale: 1;
    transition: scale 0.1s;
}
.follow-btn:hover {
    scale: 1.05;
    transition: scale 0.1s;
    border: 2px solid white;
}
.more-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background: none;
    scale: 1;
    transition: scale 0.1s;
}
.more-btn:hover {
    scale: 1.2;
    transition: scale 0.1s;
}

.artist-title {
    margin: 25px 0 0 75px;
}

.artist-tracks {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    margin: 25px 0 0 75px;
    border-radius: 10px;
    background: dimgrey;
}
.see-more-btn {
    width: 85px;
    height: 25px;
    font-size: 15px;
    color: lightgray;
    font-weight: bold;
    white-space: nowrap;
    border: none;
    background: none;
}
.see-more-btn:hover {
    color: white;
}
.artist-album-title {
    width: 100%;
    height: 29px;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}