/* Music-card */
.music-card-container {
    width: 235px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #3a3a3a;
    box-shadow: 3px 3px 5px black;
    border: none;
}

.music-card-img {
    width: 100%;
    height: 150px;
    background: gray;
    border-radius: 10px;
}
.music-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.music-card-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3a3a3a;
    color: white;
}

.track-name-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 25px;
    padding-left: 10px;
}
.track-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25px;
    padding-left: 7px;
    padding-right: 15px;
}
