.mini-player {
    width: 350px;
    height: 350px;
    margin-right: 65px;
    position: fixed;
    top: 69%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background: #1E1E1E;
    transition: transform 0.4s ease;
    transform: translateY(350px);
    z-index: 10;
}
.mini-player.open {
    transform: translateY(-120px);
}
@media (max-width: 500px) {
    .mini-player {
        top: 74%;
    }
}

.close-btn {
    position: absolute;
    top: -310px;
    left: 285px;
}

.name-img {
    width: 100%;
    height: 235px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timer {
    color: white;
}

.player-container {
    display: flex;
    flex-direction: column;
}

.song-name-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.song-name {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.song-img {
    width: 85%;
    height: 170px;
    background: transparent;
    border-radius: 10px;
    object-fit: cover;
    border: none;
}

.song-img-container {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
}

.hide-volume {
    width: 130px;
    height: 30px;
    background: #1E1E1E;
}

.volume-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hide-volume {
    transform: translateX(-210px);
    transition: 0.5s;
    z-index: 10;
}
.hide-volume.visible {
    transform: translateX(-10px);
}

.hidden {
    display: none !important;
}
